.main {
	background-size: cover;
	min-height: 100vh;
}

.grid-container {
	color: white;
	display: flex;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	background-size: cover;
	box-sizing: border-box;
	padding: 0.9rem;
	justify-content: center;

	& span {
		text-align: center;
		display: block;
		color: black;

		a {
			text-decoration: none;
			color: blue;

			&:visited {
				color: blueviolet;
			}
		}
	}

	& form {
		display: flex;
		flex-direction: column;
		width: 80%;
		align-items: center;

		padding: 1rem;
		box-sizing: border-box;
		background-image: url('../../assets//imgs/oldParchment.webp');
		background-size: cover;

		& fieldset {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 80%;

			h1 {
				color: black;
			}



			& input {
				margin: 0.5rem;
				width: 100%;
				display: block;
				border-radius: 5px;
				box-sizing: border-box;
				padding: 0.5rem;

			}


			& button {
				color: white;
				border-radius: 5px;
				box-sizing: border-box;
				padding: 0.5rem;
				margin: 0.5rem;
				width: 80%;
				margin-top: 1rem;
				align-self: center;
				background-color: rgba(0, 0, 0, 0.6);
				border: 1px solid white;
				height: 3rem;

				&:active {
					box-shadow: inset 1px 2px 2px black;
				}

				&:hover {
					cursor: pointer;
					background-color: goldenrod;
					color: black;
					border: 1px solid black;
				}
			}

		}
	}
}

@media screen and (max-width: 680px) {
	.main {
		background-position: -20rem -20rem;
		min-height: 100vh;
	}

	.grid-container {

		& form {
			width: 90%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;

		}
	}


}